<div class="row text-center">
   <label>Pizza Order Summary</label>
</div>

<table class="table table-stripped form-container">
    <thead>
      <tr>
        <th>Pizza</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>        
      <tr ng-repeat="(key, value) in counts" ng-class="checkVeg(key) ? 'veg-class': 'non-veg-class'">
        <td>{{key | formatstring}}</td>
        <td>{{value}}</td>
      </tr>
    </tbody>
</table>

<div class="row text-center">
   <label>Cold drink Order Summary</label>
</div>

<table class="table table-stripped form-container">
    <thead>
      <tr>
        <th>Cold drink</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>        
      <tr ng-repeat="(key, value) in counts1">
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
    </tbody>
</table>

<div class="row text-center">
   <label>Individual Order Summary</label>
</div>

<table class="table table-striped form-container">
    <thead>
      <tr>
        <th>Ordered By</th>
        <th>Name</th>
        <th>Pizza</th>
        <th>Cold drink</th>
        <!--<th>status</th>
        <th>OrderedBy</th>-->
      </tr>
    </thead>
    <tbody>        
      <tr ng-repeat="o in order" ng-class="checkVeg(o) ? 'veg-class': 'non-veg-class'">
        <td><img class="img-circle" src="{{o.imgUrl}}" style="height: 50px;width: 50px;"> <!-- my connection url --></td>
        <td>{{o.name}}</td>
        <td>{{o.pizza | formatstring}}</td>
        <td>{{o.cold}}</td>
        <!--<td>{{o._id}}</td>
        <td>{{o.__v}} </td>-->
      </tr>
      
    </tbody>
  </table>