<div class="row form-container">
    
    <div class="row">
    <div class="col-md-4">
    <span>you have ordered</span>
    </div>
    <div class="col-md-4">
    <span>Pizza : {{pizza}}</span>
    </div>
    
    <div class="col-md-4">
    <span>Cold drinks : {{cold}}</span>
    </div>
    </div>
    
    <div class="row">
    <div class="col-md-12">
    <span>Hi, Here you can change the order Pizza and Cold drink that you want !!</span>
    </div></div>
    
    
</div>

<form>
<div class="row form-container">
        
     <div class="row">
    <div class="col-md-5">
    <label for="sel-pizza">
        Select Pizza
    </label>
    </div>
     <div class="col-md-7">
    <select class="form-control" id="sel-pizza" ng-model="pizza" required>
        <option value="">None</option>
        <optgroup class="veg" label="SIMPLY VEG">
            <option value="v_Margherita">Margherita</option>
        </optgroup>
        <optgroup class="veg" label="VEG TREAT">
            <option value="v_Double Cheese Margherita">Double Cheese Margherita</option>
            <option value="v_Farm House">Farm House</option>
            <option value="v_Country Special">Country Special</option>
            <option value="v_Spicy Triple Tango">Spicy Triple Tango</option>
        </optgroup>
        
        <optgroup class="veg" label="VEG SPECIAL">
            <option value="v_Peppy Paneer">Peppy Paneer</option>
            <option value="v_Mexican Green Wave">Mexican Green Wave</option>
            <option value="v_Deluxe Veggie5">Deluxe Veggie5</option>
            <option value="v_PepperVeggie Paradise">PepperVeggie Paradise</option>
        </optgroup>

        <optgroup class="veg" label="EXOTIC ITALIAN VEG">
            <option value="v_Roman Veg Supreme">Roman Veg Supreme</option> 
        </optgroup>
        
        <optgroup class="non-veg" label="SIMPLY NON VEG">
            <option value="n_Cheese Barbeque Chicken">Cheese & Barbeque Chicken</option>
            <option value="n_Chicken Salami">Chicken Salami</option>
        </optgroup>
        <optgroup class="non-veg" label="NON VEG TREAT">
            <option value="n_Barbeque Chicken">Barbeque Chicken</option>
            <option value="n_Spicy Chicken">Spicy Chicken</option>
            <option value="n_Chicken Fiesta">Chicken Fiesta</option>           
        </optgroup>
        
        <optgroup class="non-veg" label="NON VEG SPECIAL">
            <option value="n_Chicken Mexicana">Chicken Mexicana</option>
            <option value="n_Chicken Golden ">Chicken Golden </option>
            <option value="n_DelightChicken">DelightChicken</option>
            <option value="n_LoversChef's Chicken Choice"> LoversChef's Chicken Choice</option>
        </optgroup>

        <optgroup class="non-veg" label="EXOTIC ITALIAN">
            <option value="n_Roman Veg Supreme">Florence Chicken Exotica</option> 
        </optgroup>
    </select>
    </div>   </div>
    
       <div class="row">
      <div class="col-md-5">
    <label for="sel-cold">
        Select Cold drink
    </label>
    </div>
    <div class="col-md-7">
    <select class="form-control" id="sel-cold"" ng-model="cold" required>
         <option value="">None</option>
        <option value="coke">Coke</option>
        <option value="pespi">Pepsi</option>
        <option value="seven-up">Seven-up</option>
        <option value="sprite">Sprite</option>        
    </select>
    </div> </div>
    
    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="Change Order" class="btn btn-success" ng-click="onChangeOrder()"/>
        </div>
       
        </div>
        
</div>
</form>